@media (max-width: 1920px){
  .shop__inner{
    margin-top: 196px;
  }
}
@media (max-width: 1470px){
  .shop__inner{
    margin-top: 45px;
  }
  .shop__item{
    flex-basis: calc(33.3333% - 5px);
    max-width: 315px;
  }
}